body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: #fafafa;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
*::selection {
  background: #222;
  color: #fd5;
}
.cornice {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  z-index: 1000;
  position: fixed;
  width: 100%;
  color: #fafafa;
  top: 0;
  transition: 0.3s;
}
.cornice.scroll {
  background: #002;
}
.cornice .dentil {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.1rem;
}
.cornice .dentil.front {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
}
.torso {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  margin-top: 2rem;
  margin: auto;
  background: inherit;
}
.breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  max-width: 42rem;
  margin: auto;
  width: 100%;
  padding: 1rem 1rem 0.8rem;
  border-bottom: 1px solid #0000000a;
  text-align: left;
}
.breadcrumb .bran {
  cursor: pointer;
  color: #555;
  font-size: 1rem;
  transition: 0.3s;
  display: inline-block;
}
.breadcrumb .bran:hover {
  color: #fd5;
}
.breadcrumb .bran:after {
  content: '›';
  padding: 1.6rem;
  font-family: 'Lustria', serif;
  font-style: normal;
  color: #999;
}
.breadcrumb .bran.active {
  cursor: auto;
  color: rgba(0, 0, 34, 0.995);
}
.breadcrumb .bran.active:after {
  content: '';
}
article {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: #555;
  margin-bottom: 1rem;
}
article .breviary {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  display: table;
  width: 100%;
  background-image: attr(img);
  background: linear-gradient(to bottom, #002, rgba(0, 0, 34, 0.8)), attr();
  background-attachment: fixed;
  background-size: cover;
  padding: 3.6rem 1.8rem 1.8rem;
  color: #fafafa;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
@media only screen and (max-width: 720px) {
  article .breviary {
    height: 100vh;
    padding: 1rem;
  }
}
article .breviary .wrapper {
  width: 100%;
  max-width: 42rem;
  margin: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
article .breviary .wrapper .topic {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
article .breviary .wrapper .title {
  padding: 1rem 0;
  border-top: 1px solid #fafafa;
  font-size: 1.8rem;
}
article .breviary .wrapper .author {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-style: italic;
}
article .breviary .wrapper .author:before {
  content: 'by ';
}
article .breviary .wrapper .alias {
  display: inline-block;
  padding: 0.8rem;
  font-size: 1.1rem;
}
article .breviary .wrapper .alias li {
  display: inline-block;
  padding: 0 0.4rem;
}
article .breviary .wrapper .alias li:not(:first-child):before {
  content: '|';
  padding-right: 1rem;
}
article .breviary .wrapper .source {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}
article .breviary .wrapper .next {
  /*display: inline-block;*/
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  max-width: 42rem;
  margin: auto;
  /*display: inline-block;*/
  margin: 0.1rem auto 3rem;
  width: 50%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0.8rem 1rem;
  background-image: linear-gradient(45deg, transparent 65%, #222 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #222 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #222 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #222 35%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 14px 4px;
  background-position: 0 100%;
  animation: wiggle 20s linear infinite;
  margin-bottom: 0rem;
  background-image: linear-gradient(45deg, transparent 65%, #fafafa 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #fafafa 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #fafafa 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #fafafa 35%, transparent 50%);
}
article .lane .text {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  max-width: 42rem;
  margin: auto;
  padding: 0.4rem 0.8rem;
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: justify;
}
article .lane .text .info {
  color: rgba(34, 34, 34, 0.5);
  font-size: 1rem;
  text-align: center;
}
article .lane .text .epigraph {
  padding: 0.2rem 0;
  font-size: 1.3rem;
  font-weight: 700;
}
article .lane .text .blank {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  padding: 3.2rem;
  border: 1px dashed #222;
  background: rgba(34, 34, 34, 0.02);
}
article .lane .text p {
  text-indent: 1.6rem;
}
article .lane .text p:first-letter {
  font-size: 2.8rem;
  font-family: 'Playfair Display', serif;
}
article .lane .text br {
  content: "";
  display: block;
  margin: 1.6rem 0;
  font-size: 20%;
}
article .lane .taglist {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  max-width: 42rem;
  margin: auto;
  margin-top: 1rem;
  padding: 0.8rem 0.4rem;
  border-top: 1px solid #00000011;
}
article .lane .taglist .tag {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2rem;
  padding: 0.1rem 0.2rem;
  /*border-bottom: 1px solid #333;*/
  text-decoration: underline;
  color: #333;
  font-size: 0.8rem;
  font-weight: 700;
  transition: 0.1s;
}
article .lane .appendix {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  z-index: 100;
  display: block;
  position: sticky;
  width: 100%;
  border-top: 1px solid rgba(34, 34, 34, 0.05);
  background: #fafafa;
  text-align: center;
}
article .lane .appendix li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.8rem 0.8rem;
}
article .lane .appendix li img {
  width: 100%;
  transition: 0.3s;
}
@media only screen and (max-width: 720px) {
  article .lane .appendix {
    top: none;
    bottom: 0;
  }
}
.next {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  max-width: 42rem;
  margin: auto;
  /*display: inline-block;*/
  margin: 0.1rem auto 3rem;
  width: 50%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0.8rem 1rem;
  background-image: linear-gradient(45deg, transparent 65%, #222 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #222 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #222 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #222 35%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 14px 4px;
  background-position: 0 100%;
  animation: wiggle 20s linear infinite;
}
@keyframes wiggle {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
